<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        POS
        {% endblock %}
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>
<body class="w-full min-h-screen flex">
    <div class="h-screen w-[220px] py-8 bg-blue-900 flex flex-col items-center text-white">  
        <h2 class="font-bold text-3xl">
            SIDE BAR
        </h2>
        <div class="flex flex-col gap-2 text-lg font-medium mt-5 w-full items-start px-4">
            <a href="/">
                POS
            </a>
            <a href="/add_item">
                ADD ITEM
            </a>
            <a href="/edit_item">
                EDIT ITEM
            </a>
            <a href="/history?page=1">
                HISTORY
            </a>
        </div>  
    </div>
    {% block content %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
</body>
</html>