{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        POS
        {% endblock %}
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>
<body class="w-full min-h-screen flex bg-[#F5F5F5]">
    <div class="h-screen w-[80px] 2xl:w-[220px] py-8 bg-blue-900 flex flex-col items-center text-white">  
        <h2 class="hidden 2xl:block font-bold text-3xl">
            SIDE BAR
        </h2>
        <div class="flex flex-col text-lg font-medium mt-5 w-full items-start gap-8 2xl:gap-3">
            <a class="flex w-full justify-center 2xl:justify-start items-center group 2xl:px-3 py-1 2xl:hover:bg-blue-700 rounded-lg mx-1 max-w-[67px] 2xl:max-w-[180px]" href="/">
                <img class="h-[40px] w-[40px] 2xl:h-auto 2xl:w-auto p-1 2xl:p-[2px] 2xl:pl-2 rounded-lg group-hover:bg-blue-700 group-hover:scale-125 transition-transform duration-150" src="{% static 'image/shopping-cart.svg' %}" />
                <h2 class="pl-2 hidden 2xl:block rounded-r-lg w-full group-hover:bg-blue-700">POS</h2>
            </a>
            <a class="flex w-full justify-center 2xl:justify-start items-center group 2xl:px-3 py-1 2xl:hover:bg-blue-700 rounded-lg mx-1 max-w-[67px] 2xl:max-w-[180px]" href="/add_item">
                <img class="h-[40px] w-[40px] 2xl:h-auto 2xl:w-auto p-1 2xl:p-[2px] 2xl:pl-2 rounded-lg group-hover:bg-blue-700 group-hover:scale-125 transition-transform duration-150" src="{% static 'image/plus.svg' %}" />
                <h2 class="pl-2 hidden 2xl:block rounded-r-lg w-full group-hover:bg-blue-700">ADD ITEM</h2>
            </a>
            <a class="flex w-full justify-center 2xl:justify-start items-center group 2xl:px-3 py-1 2xl:hover:bg-blue-700 rounded-lg mx-1 max-w-[67px] 2xl:max-w-[180px]" href="/edit_item">
                <img class="h-[40px] w-[40px] 2xl:h-auto 2xl:w-auto p-1 2xl:p-[2px] 2xl:pl-2 rounded-lg group-hover:bg-blue-700 group-hover:scale-125 transition-transform duration-150" src="{% static 'image/pencil.svg' %}" />
                <h2 class="pl-2 hidden 2xl:block rounded-r-lg w-full group-hover:bg-blue-700">EDIT ITEM</h2>
            </a>
            <a class="flex w-full justify-center 2xl:justify-start items-center group 2xl:px-3 py-1 2xl:hover:bg-blue-700 rounded-lg mx-1 max-w-[67px] 2xl:max-w-[180px]" href="/history?page=1">
                <img class="h-[40px] w-[40px] 2xl:h-auto 2xl:w-auto p-1 2xl:p-[2px] 2xl:pl-2 rounded-lg group-hover:bg-blue-700 group-hover:scale-125 transition-transform duration-150" src="{% static 'image/calendar-days.svg' %}" />
                <h2 class="pl-2 hidden 2xl:block rounded-r-lg w-full group-hover:bg-blue-700">HISTORY</h2>
            </a>
            <a class="flex w-full justify-center 2xl:justify-start items-center group 2xl:px-3 py-1 2xl:hover:bg-blue-700 rounded-lg mx-1 max-w-[67px] 2xl:max-w-[180px]" href="/dashboard">
                <img class="h-[40px] w-[40px] 2xl:h-auto 2xl:w-auto p-1 2xl:p-[2px] 2xl:pl-2 rounded-lg group-hover:bg-blue-700 group-hover:scale-125 transition-transform duration-150" src="{% static 'image/chart-column.svg' %}" />
                <h2 class="pl-2 hidden 2xl:block rounded-r-lg w-full group-hover:bg-blue-700">DASHBOARD</h2>
            </a>
        </div>  
    </div>    
    {% block content %}
    {% endblock %}
    <script src="{% static 'js/Base.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>