{% extends 'base.html' %}

{% load static %}

{% block head %}
    <style>
        /* Hide number input arrows */
        /* https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }
        
        /* Firefox */
        input[type=number] {
          -moz-appearance: textfield;
        }
    </style>
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
    <div class="h-screen w-full p-5 overflow-hidden">
        <div class="flex gap-4 items-center">
            <h2 class="text-3xl font-bold px-4">
                POS | SOLO BUSINESS OWNERS
            </h2>
            <form class="px-4 font-semibold my-2 flex gap-2"
            action="" method="get" >
                {% csrf_token %}
                <input value="{% if search %}{{ search }}{% endif %}" 
                name="search" placeholder="Search Id or Name" 
                class="text-lg p-1 px-2 outline-none rounded-lg border-2 border-black" />
                <button name="action" value="search" class="text-lg font-bold p-1 px-2 bg-blue-900 text-white rounded-lg">
                    Search
                </button>
            </form>
        </div>
        <div class="w-full flex justify-around">
            <div>
                <div id="item-container" class="max-w-[1300px] min-w-[700px] w-full p-4 flex flex-wrap gap-5 h-auto max-h-[859px] overflow-y-auto">
                    {% for item in items %}
                        {% if item.isAvailable == True %}
                            <div class="p-1 border-2 w-full h-full max-w-[230px] max-h-[280px] rounded-lg bg-white">
                                <div class="max-w-[250px] max-h-[150px] ">
                                    <img src="{{ item.Image }}" class="w-[250px] h-[150px] object-fill" />
                                </div>
                                <div>
                                    <h2 class="text-xl font-bold">
                                        {{ item.name }}
                                    </h2>
                                    <div class="flex gap-6">
                                        <p class="font-medium">
                                            Price: {{ item.totalPrice }}
                                        </p>
                                        <p class="font-medium">
                                            Stock: {{ item.quantityInStock }}
                                        </p>
                                    </div>
                                    <form
                                    class="w-full flex justify-center my-2 gap-2"
                                    action="" method="post">
                                        {% csrf_token %}
                                        <div>
                                            <button hidden name="action" value="add"></button>
                                            <input hidden value="{{ item.itemId }}" name="item_id" />
                                            <button class="text-2xl font-bold" name="action" value="decrement"> 
                                                -
                                            </button>
                                            <input 
                                            min="0"
                                            value="{% if item.quantity %}{{ item.quantity }}{% else %}0{% endif %}"
                                            id="{{ item.itemId }}" 
                                            type="number" 
                                            onkeydown="return event.keyCode !== 69"
                                            class="text-center w-[70px] px-3 h-[30px] border-2 outline-none text-lg font-semibold rounded-lg" 
                                            name="quantity" />
                                            <button class="text-2xl font-bold" name="action" value="increment">
                                                +
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div 
            class="min-w-[200px] max-w-[300px] h-[830px] w-full flex flex-col items-center border-l-2"
            id="counter-receipt">
                <div class="w-full px-2 max-w-[300px]">
                    <h2 class="text-2xl font-bold">
                        Business Name
                    </h2>
                    <h2 class="text-xl font-semibold">
                        Receipt
                    </h2>
                    {% if Receipts.order_id %}
                        <div class="flex gap-9 max-w-[284px]">
                            <h2 class="font-semibold ">
                                Date: 
                            </h2>
                            <p class="font-medium">
                                {{ Receipts.date}}
                            </p>
                        </div>
                    {% endif %}
                </div>
                <div id="cartItems" class="max-h-[453px] max-w-[250px] flex flex-col w-full h-full">
                    {% for cart in Cart %}
                        <div class="flex justify-between w-full p-1">
                            <h2 class="font-bold text-lg">
                                {{ cart.item.name }}
                            </h2>
                            <div class="flex gap-3">
                                <p class="text-lg font-medium">
                                    {{ cart.item.price }}
                                </p>
                                <p class="text-lg font-medium">
                                    x{{ cart.quantity }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <form 
                action="/"
                method="post"
                class="flex flex-col max-w-[250px] w-full">
                    {% csrf_token %}
                    <div class="flex justify-between" id="totalSub">
                        <input hidden name="totalSub" value="{{ Payments.totalSub }}" type="number">
                        <h2 class="font-bold text-2xl">
                            total sub
                        </h2>
                        <p class="text-lg font-medium">
                            {{ Payments.totalSub }}
                        </p>
                    </div>
                    <div class="flex justify-between" id="totalTax">
                        <input hidden name="totalTax" value="{{ Payments.totalTax }}" type="number">
                        <h2 class="font-bold text-2xl">
                            total tax <span class="text-xs">(VAT 12%)</span>
                        </h2>
                        <p class="text-lg font-medium">
                            {{ Payments.totalTax | floatformat:2 }}
                        </p>
                    </div>
                    <div id="line" class="w-full border-b-2 mt-2"></div>
                    <div class="flex justify-between" id="totalPayment">
                        <input hidden name="totalPayment" value="{{ Payments.totalPayment }}" type="number">
                        <h2 class="font-bold text-2xl">
                            total Payment
                        </h2>
                        <p class="text-lg font-bold">
                            {{ Payments.totalPayment| floatformat:2 }}
                        </p>
                    </div>
                    <div>
                        <div class="my-4">
                            {% if Payments.customerPayment %}
                                <div class="flex justify-between text-lg">
                                    <h2 class="font-bold">
                                        Payment
                                    </h2>
                                    <p class="font-medium">
                                        {{ Payments.customerPayment }}
                                    </p>
                                </div>
                                <div class="flex justify-between text-lg">
                                    <h2 class="font-bold">
                                        Change
                                    </h2>
                                    <p class="font-medium">
                                        {{ Payments.change| floatformat:2 }}
                                    </p>
                                </div>
                            {% else %}
                                <div class="flex justify-between text-lg gap-3">
                                    <h2 class="font-bold">Payment</h2>
                                    <input step="any" class="font-semibold outline-none border-b-2 px-2 text-lg max-w-[250px] w-full" 
                                    name="customer-payment" type="number" value="0" 
                                    onkeydown="return event.keyCode !== 69"
                                    min="{{ Payments.totalPayment }}"  />
                                </div>
                            {% endif %}
                        </div>
                        <div class="w-full flex flex-col gap-2 items-center mt-4">
                            {% if Payments.customerPayment %}
                                <button 
                                name="action"
                                value="clear" 
                                class="max-w-[200px] w-full bg-red-900 rounded-lg p-2 text-lg text-white font-bold">
                                    Clear
                                </button>
                                <!-- will print something -->
                                <button
                                onclick="printDiv('counter-receipt')"
                                type="button"
                                class="max-w-[200px] w-full bg-blue-900 rounded-lg p-2 text-lg text-white font-bold"
                                >
                                    Print                                    
                                </button>    
                            {% else %}
                                <button 
                                name="action"
                                value="checkout" 
                                class="max-w-[200px] w-full bg-blue-900 rounded-lg p-2 text-lg text-white font-bold">
                                    Checkout
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'js/POS.js' %}"></script>
{% endblock %}