{% extends 'base.html' %}

{% load static %}


{% block content %}
    <div class="h-screen w-full p-5">
        <h2 class="text-4xl font-bold px-4">
            Click The Item You want to Edit
        </h2>
        <div>
            <!-- Search Input maybe? -->
        </div>
        <div id="item-container" class="p-4 flex flex-wrap gap-5">
            {% for item in items %}
                <div class="p-1 border-2 w-full h-full max-w-[250px] max-h-[300px] rounded-lg">
                    <div class="max-w-[250px] max-h-[150px] ">
                        <img src="{{ item.Image }}" class="w-[250px] h-[150px] object-fill" />
                    </div>
                    <div class="max-h-[150px] w-full">
                        <h2 class="text-2xl font-bold">
                            {{ item.name }}
                        </h2>
                        <p class="font-medium">
                            Price: {{ item.price }}
                        </p>
                        <button 
                        onclick="window.location.href='/edit_item/{{ item.itemId }}'"
                        class="w-[58px] h-[40px] p-0 bg-blue-500 text-white  rounded-lg mt-2">
                            Edit
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}